---
import Layout from '@layouts/Layout.astro';
import ButtonListCup from '@components/ButtonListCup.svelte';
---

<Layout pageTitle={'O que você está achando?'} withSun={false}>
	<main class='relative pb-36 px-6 mx-auto max-w-7xl'>
		<ButtonListCup client:load />
	</main>
</Layout>
