---
import Layout from '@layouts/Layout.astro';
import ResultCup from '@components/ResultCup.svelte';
---

<Layout pageTitle={'Resultados'} withSun={false} withTopBarBlur={false}>
	<main class='relative pb-36 px-6 mx-auto max-w-7xl'>
		<ResultCup client:load />
	</main>
</Layout>
