<div class="my-8 md:my-24 mx-auto max-w-7xl px-4">
  <div class="mx-auto">
    <h1
      class="tracking-tight text-blue-600 sm:text-lg md:text-2xl font-inclusive"
    >
      <span class="block xl:inline">Hello! I'm Candido Sales</span>
    </h1>
    <p
      class="mt-3 text-blue-800 text-4xl sm:text-4xl md:mt-5 md:text-6xl lg:text-8xl hero-title font-inclusive"
    >
      A multidisciplinary engineer focusing on <span
        class="digital lg:text-9xl font-calligraffitti">digital</span
      > experiences
    </p>
  </div>
</div>
<style>
  .hero-title {
    letter-spacing: -0.06em;
  }
</style>
