<div class="my-8 md:my-24 mx-auto max-w-7xl px-4">
  <div class="mx-auto">
    <h1
      class="tracking-tight text-slate-600 sm:text-lg md:text-2xl"
      data-aos="fade-up"
      data-aos-duration="500"
    >
      <span class="block xl:inline">Hello! I'm Candido Sales</span>
    </h1>
    <p
      class="mt-3 text-slate-800 text-4xl sm:text-4xl md:mt-5 md:text-6xl lg:text-8xl hero-title"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      A multidisciplinary engineer focusing on <span class="glitch"
        >digital experiences</span
      >
    </p>
  </div>
</div>
<style>
  .hero-title {
    letter-spacing: -0.06em;
  }

  .glitch {
    /* font-family: Cyberpunk; */
    font-synthesis: none;
    animation: cyberpunk-glitch 7s step-end infinite,
      skew-glitch 7s step-end infinite;
  }

  @keyframes skew-glitch {
    0% {
      transform: skew(83deg, 2deg) scaleY(0.25);
    }

    27% {
      transform: skew(-83deg, 2deg) scaleY(0.25);
    }

    66% {
      transform: skew(93deg, -2deg) scaleY(0.25);
    }

    91% {
      transform: skew(-89deg, -2deg) scaleY(0.25);
    }

    1%,
    28%,
    67%,
    92% {
      transform: none;
    }
  }

  @keyframes cyberpunk-glitch {
    0% {
      clip-path: polygon(
        96% 81%,
        23% 67%,
        3% 70%,
        81% 58%,
        63% 65%,
        71% 18%,
        60% 85%,
        22% 27%,
        26% 25%,
        60% 53%,
        79% 62%,
        61% 6%,
        8% 1%,
        12% 81%,
        12% 21%,
        75% 7%,
        31% 61%,
        69% 79%,
        41% 46%,
        3% 7%,
        94% 96%,
        16% 40%,
        10% 99%,
        22% 67%,
        83% 41%,
        92% 76%
      );
    }

    4% {
      clip-path: polygon(
        25% 86%,
        59% 45%,
        12% 89%,
        25% 14%,
        1% 82%,
        36% 13%,
        85% 53%,
        59% 8%,
        12% 76%,
        69% 93%,
        3% 49%,
        74% 64%,
        6% 87%,
        36% 94%,
        55% 30%,
        53% 16%,
        26% 39%,
        7% 69%,
        23% 96%,
        83% 38%,
        33% 25%,
        7% 36%,
        28% 41%,
        27% 85%,
        9% 77%,
        64% 47%
      );
    }

    27% {
      clip-path: polygon(
        39% 7%,
        81% 81%,
        97% 19%,
        37% 54%,
        19% 66%,
        98% 57%,
        10% 45%,
        60% 82%,
        10% 96%,
        46% 53%,
        70% 68%,
        89% 24%,
        6% 45%,
        81% 29%,
        68% 54%,
        77% 32%,
        90% 44%,
        28% 36%,
        66% 72%,
        12% 98%,
        83% 10%,
        11% 71%,
        71% 78%,
        11% 93%,
        50% 29%,
        36% 36%
      );
    }

    51% {
      clip-path: polygon(
        18% 34%,
        31% 77%,
        73% 57%,
        69% 50%,
        62% 33%,
        34% 10%,
        3% 66%,
        76% 4%,
        44% 97%,
        43% 50%,
        68% 3%,
        72% 17%,
        94% 57%,
        46% 74%,
        69% 17%,
        56% 24%,
        93% 59%,
        10% 84%,
        93% 76%,
        70% 26%,
        93% 2%,
        84% 83%,
        25% 4%,
        49% 93%,
        14% 64%,
        31% 60%
      );
    }

    66% {
      clip-path: polygon(
        91% 2%,
        50% 60%,
        51% 75%,
        11% 27%,
        96% 3%,
        36% 12%,
        22% 49%,
        21% 75%,
        13% 30%,
        29% 41%,
        2% 76%,
        72% 52%,
        40% 56%,
        19% 38%,
        32% 7%,
        30% 34%,
        3% 27%,
        48% 17%,
        1% 33%,
        16% 41%,
        24% 21%,
        47% 42%,
        16% 4%,
        81% 91%,
        45% 83%,
        21% 21%
      );
    }

    91% {
      clip-path: polygon(
        21% 73%,
        5% 5%,
        41% 55%,
        3% 59%,
        99% 94%,
        66% 86%,
        30% 46%,
        69% 100%,
        81% 83%,
        34% 55%,
        36% 8%,
        2% 5%,
        94% 91%,
        90% 71%,
        38% 92%,
        55% 46%,
        67% 68%,
        59% 98%,
        30% 87%,
        22% 45%,
        59% 76%,
        47% 6%,
        79% 3%,
        20% 61%,
        61% 96%,
        46% 18%
      );
    }

    1%,
    5%,
    28%,
    53%,
    67%,
    92% {
      clip-path: none;
    }
  }

  @keyframes cyberpunk-glitch-two {
    0% {
      clip-path: polygon(
        72% 68%,
        31% 60%,
        39% 50%,
        42% 13%,
        0% 89%,
        1% 90%,
        63% 37%,
        47% 45%,
        59% 8%,
        53% 27%,
        90% 59%,
        12% 62%,
        61% 65%,
        25% 88%,
        82% 19%,
        40% 9%,
        3% 22%,
        84% 19%,
        50% 38%,
        0% 83%,
        88% 96%,
        22% 67%,
        72% 65%,
        15% 32%,
        66% 54%
      );
    }

    4% {
      clip-path: polygon(
        54% 14%,
        45% 58%,
        59% 83%,
        58% 73%,
        35% 79%,
        36% 71%,
        29% 60%,
        39% 15%,
        53% 94%,
        33% 18%,
        12% 95%,
        21% 56%,
        64% 42%,
        48% 69%,
        22% 87%,
        88% 49%,
        18% 84%,
        89% 95%,
        98% 98%,
        3% 15%,
        69% 85%,
        96% 17%,
        44% 54%,
        93% 26%,
        97% 50%,
        83% 63%
      );
    }

    27% {
      clip-path: polygon(
        1% 90%,
        70% 62%,
        75% 29%,
        60% 15%,
        49% 25%,
        77% 26%,
        55% 79%,
        77% 25%,
        55% 61%,
        31% 68%,
        38% 42%,
        25% 80%,
        19% 87%,
        92% 52%,
        42% 30%,
        82% 63%,
        53% 72%,
        82% 17%,
        48% 96%,
        33% 39%,
        75% 56%,
        43% 31%,
        7% 17%,
        87% 91%,
        65% 45%,
        21% 53%
      );
    }

    51% {
      clip-path: polygon(
        66% 19%,
        87% 6%,
        67% 26%,
        32% 29%,
        31% 7%,
        24% 72%,
        14% 5%,
        58% 69%,
        8% 49%,
        44% 27%,
        27% 10%,
        20% 81%,
        95% 74%,
        22% 39%,
        72% 17%,
        73% 8%,
        61% 54%,
        24% 82%,
        9% 79%,
        22% 5%,
        15% 34%,
        1% 68%,
        3% 41%,
        32% 49%,
        15% 42%,
        91% 48%
      );
    }

    66% {
      clip-path: polygon(
        42% 98%,
        69% 59%,
        36% 32%,
        98% 77%,
        20% 77%,
        0% 87%,
        20% 14%,
        3% 58%,
        28% 85%,
        81% 8%,
        47% 6%,
        9% 28%,
        79% 40%,
        35% 8%,
        50% 31%,
        82% 66%,
        20% 57%,
        50% 7%,
        51% 88%,
        66% 84%,
        55% 47%,
        79% 97%,
        28% 12%,
        47% 34%,
        18% 47%,
        41% 4%
      );
    }

    91% {
      clip-path: polygon(
        46% 48%,
        55% 10%,
        97% 6%,
        19% 98%,
        43% 62%,
        62% 57%,
        78% 90%,
        64% 89%,
        28% 100%,
        61% 82%,
        19% 96%,
        44% 74%,
        70% 64%,
        77% 59%,
        38% 90%,
        11% 28%,
        47% 19%,
        58% 70%,
        27% 17%,
        77% 83%,
        75% 46%,
        40% 44%,
        25% 53%,
        57% 47%,
        48% 3%,
        99% 38%
      );
    }

    1%,
    5%,
    28%,
    52%,
    67%,
    92% {
      clip-path: none;
    }
  }
</style>
