---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.svelte';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { TrashAnimation } from './react/trash/TrashAnimation';
import CardList from './react/card-list/CardList';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={'UI Lab'}>
	<Header client:only='svelte' />
	<main class='relative pb-36 mx-auto max-w-5xl mt-16 mb-16 px-4'>
		<h1
			class='text-3xl leading-8 font-medium tracking-tight text-blue-900 sm:text-4xl mt-10'
			transition:name='hero'
		>
			Animations Lab
		</h1>
		<div class='grid md:grid-cols-2 gap-4'>
			<div
				class='h-[500px] items-center justify-center flex bg-white rounded-md'
			>
				<TrashAnimation client:only='react' />
			</div>
			<div
				class='h-[500px] items-center justify-center flex bg-white rounded-md'
			>
				<CardList client:only='react' />
			</div>
		</div>
	</main>
</Layout>
