---
import { Image } from "@astrojs/image/components";
---

<div
    class="my-16 mx-auto max-w-7xl"
    data-aos="fade-up"
    data-aos-duration="1500"
>
    <div class="p-6">
        <div
            class="flex flex-col md:flex-row mx-auto justify-center items-center"
        >
            <Image
                src="/jose-mujica-400.png"
                width={56}
                height={56}
                alt=""
                class="w-14 h-14 rounded-full mb-2 md:mb-0 mr-0 md:mr-4"
                loading="lazy"
                decoding="async"
            />
            <blockquote class="text-center md:text-left">
                <div class="text-slate-500 dark:text-white mb-2 md:mb-0">
                    José Mujica
                </div>
                <p class="max-w-3xl mx-auto text-lg font-medium text-slate-800">
                    “Triumphing in life is not winning, it is getting up and
                    starting over every time you fall”
                </p>
            </blockquote>
        </div>
    </div>
</div>
