---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { Image } from 'astro:assets';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export interface Quote {
  authorImage: string;
  authorName: string;
  quote: string;
}

const quotes: Quote[] = [
  {
    authorImage: '/jose-mujica-400.png',
    authorName: 'José Mujica',
    quote: t('quote.joseMujica'),
  },
  {
    authorImage: '/rubem-alves.jpeg',
    authorName: 'Rubem Alves',
    quote: t('quote.rubemAlves'),
  },
  {
    authorImage: '/jota-mombaca.png',
    authorName: 'Jota Mombaça',
    quote: t('quote.jotaMombaca'),
  },
  {
    authorImage: '/fernando-pessoa.jpg',
    authorName: 'Fernando Pessoa',
    quote: t('quote.fernandoPessoa'),
  },
  {
    authorImage: '/sobonfu-some.png',
    authorName: 'Sobonfu Somé',
    quote: t('quote.sobonfuSome'),
  },
  {
    authorImage: '/khalil-gibran.png',
    authorName: 'Khalil Gibran',
    quote: t('quote.khalilGibran'),
  },
];

function getRandomQuote(quotes: Quote[]) {
  const randomIndex = Math.floor(Math.random() * quotes.length);
  return quotes[randomIndex];
}

const quoteSelected = getRandomQuote(quotes);
---

<div class='my-16 mx-auto max-w-7xl'>
  <div class='p-6'>
    <div
      class='flex flex-col md:flex-row mx-auto justify-center items-center md:items-start'
    >
      <Image
        src={quoteSelected.authorImage}
        width={56}
        height={56}
        alt=''
        class='w-14 h-14 rounded-full mb-2 md:mb-0 mr-0 md:mr-4'
        loading='lazy'
        decoding='async'
      />
      <blockquote class='text-center md:text-left font-inclusive'>
        <p class='text-blue-800 dark:text-white mb-2 md:mb-0'>
          {quoteSelected.authorName}
        </p>
        <p
          class='max-w-3xl mx-auto text-xl font-medium text-blue-600 max-w-[480px]'
        >
          “<Fragment set:html={quoteSelected.quote} />”
        </p>
      </blockquote>
    </div>
  </div>
</div>
