---
export interface Props {
	title: string;
	subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<h2 class='text-2xl text-blue-800 slide-fade-in'>
	{title}
</h2>
<p class='text-md md:text-lg text-blue-800 mb-8 slide-fade-in'>
	{subtitle}
</p>
